/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Forms and Buttons */
input, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

button {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

.error {
    color: red;
    text-align: center;
}

/* Containers */
.login-container, .dashboard-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Specific Section Styling */
section#intro {
    padding: 40px;
    background: #f4f4f4;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    input, button {
        width: calc(100% - 20px);
    }
}
